.dav20 {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* Form Groups */
  /* Tags */

  font-family: "Palatino Linotype", serif;
}

.dav20 h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  border-bottom: 0px solid #300b0b;
  margin-top: 5px;
  color: white;

  background: rgb(238,229,229);
background: linear-gradient(90deg, rgba(238,229,229,1) 0%, rgba(138,3,3,1) 52%, rgba(238,229,229,1) 100%);
}

.dav20 input[type="text"],
.dav20 input[type="number"],
.dav20 select {
  height: calc(100% - 2px);
  border: 1px solid #7a7971;
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.dav20 input[type="text"]:hover,
.dav20 input[type="number"]:hover,
.dav20 input[type="text"]:focus,
.dav20 input[type="number"]:focus {
  border: 1px solid rgb(31, 9, 9);
  box-shadow: 0 0 8px rgb(134, 3, 3);
}
.dav20 input:disabled,
.dav20 select:disabled,
.dav20 textarea:disabled {
  color: #4b4a44;
  border: 1px solid transparent !important;
  outline: none !important;
}
.dav20 input:disabled:hover,
.dav20 select:disabled:hover,
.dav20 textarea:disabled:hover,
.dav20 input:disabled:focus,
.dav20 select:disabled:focus,
.dav20 textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}

.dav20 .abilityCheck:hover,
.dav20 .abilityCheck:focus,
.dav20 .attributeCheck:hover,
.dav20 .attributeCheck:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.dav20 .sheet-body {
  width: 100%;
  height: 70%;
}

.dav20 .tab {
  width: 100%;
  height: 100%;
}

.dav20 .profile-img {
  min-width: 100px;
  min-height: 100px;
}

.dav20 .actor-profile {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.dav20 .summary-info {
  flex: 25%;
  font-size: 20px;
  font-weight: 500;
  padding: 7px;  
}

.dav20 .sheet-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 500;
}

.dav20 .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 50px;
  border-bottom: 3px solid #b5b3a4;
}

.dav20.sheet .sheet-navigation .item.active {
  border-bottom: 3px solid #300b0b;
}

.dav20 .header-segments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  font-size: 15px;
  font-weight: 500;
}


.dav20 .label-abilitie {
  display: flex;
  align-content: center; 
  justify-content: center;
  border-bottom: 2px solid #782e22;
  border-top: 2px solid #782e22;
  font-size: 12px;
}

/* .dav20 .actor-abilities-header {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-around;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
} */

.dav20 .actor-attributes {
  display: grid;
  grid-template-columns: .7fr .2fr 1fr .7fr .2fr 1fr .7fr .2fr 1fr;
  grid-auto-rows: minmax(20px, auto);
  align-items: center;
}

.dav20 .actor-abilities {
  display: grid;
  grid-template-columns: .7fr .2fr 1fr .7fr .2fr 1fr .7fr .2fr 1fr;
  grid-auto-rows: minmax(20px, auto);
}

/* Resource boxes CSS */

.dav20 .resource-value .resource-value-step { 
  padding-top: 1px; 
  height: 13px;
  width: 13px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
}

.dav20 .resource-value .resource-value-step.active {
  background-color: #790813;
}

.dav20 .resource-value-static .resource-value-static-step {
  height: 13px;
  width: 13px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
}

.dav20 .resource-value-static .resource-value-static-step.active {
  background-color: #790813;
}

.dav20 .resource-value .resource-value-empty {
  height: 13px;
  width: 13px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}



.dav20 .resource-counter .resource-counter-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  display: inline-block;
  cursor: pointer;
}

.dav20 .resource-counter .resource-counter-step.active{
  background-color: #790813;
}

.dav20 .resource-counter .resource-counter-step[data-state="-"] {
  background-color: #790813;
}

.dav20 .resource-counter .resource-counter-step[data-state="/"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.dav20 .resource-counter .resource-counter-step[data-state="x"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      black 45%,
      black 55%,
      transparent 57%,
      transparent 100%
    );
}

.dav20 .resource-health-step {
  height: 14px;
  width: 14px;
  border: 1px solid black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
}

.dav20 .resource-health-step[data-state="-"] {
  background-color: #790813;
}

.dav20 .resource-health-step[data-state="/"] {
  background:
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #790813,
      #790813,
      transparent 57%,
      transparent 100%
    );
}

.dav20 .resource-health-step[data-state="X"] {
  background:
    linear-gradient(
      45deg,
      transparent 0%,
      transparent 43%,
      #790813,
      #790813,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(
      135deg,
      transparent 0%,
      transparent 43%,
      #790813,
      #790813,
      transparent 57%,
      transparent 100%
    );
}


.dav20 .core-footer {
  display: grid;
  justify-content: center;
  column-gap: 10px;
  grid-template-columns: 20px 1.5fr .7fr .6fr .6fr;
  grid-auto-rows: minmax(30px, auto);
  grid-template-areas:
      "sinLevel-1 roadSins-1 road conscienceConviction conscienceConvictionValue conscienceConvictionValue"
      "sinLevel-2 roadSins-2 roadValue selfControlInstinct selfControlInstinctValue selfcontrolInstinctValue"
      "sinLevel-3 roadSins-3 willPowerLabel courageLabel courageValue courageValue"
      "sinLevel-4 roadSins-4 willPowerValue healthLabel healthLabel healthLabel"
      "sinLevel-5 roadSins-5 willPowerTemp health health health"
      "sinLevel-6 roadSins-6 bloodPoolLabel health health health"
      "sinLevel-7 roadSins-7 bloodPool health health health"
      "sinLevel-8 roadSins-8 bloodPool health health health"
      "sinLevel-9 roadSins-9 bloodPool health health health"
      "sinLevel-10 roadSins-10 bloodPool health health health";
}

.dav20 .actor-road-label {
  padding-left: 100px;
}

.dav20 .sin-level-1 {
  grid-area: sinLevel-1;
  align-self: center;
}

.dav20 .sin-level-2 {
  grid-area: sinLevel-2;
  align-self: center;
}

.dav20 .sin-level-3 {
  grid-area: sinLevel-3;
  align-self: center;
}

.dav20 .sin-level-4 {
  grid-area: sinLevel-4;
  align-self: center;
}

.dav20 .sin-level-5 {
  grid-area: sinLevel-5;
  align-self: center;
}

.dav20 .sin-level-6 {
  grid-area: sinLevel-6;
  align-self: center;
}

.dav20 .sin-level-7 {
  grid-area: sinLevel-7;
  align-self: center;
}

.dav20 .sin-level-8 {
  grid-area: sinLevel-8;
  align-self: center;
}

.dav20 .sin-level-9 {
  grid-area: sinLevel-9;
  align-self: center;
}

.dav20 .sin-level-10 {
  grid-area: sinLevel-10;
  align-self: center;
}

.dav20 .sin-level-value-1 {
  grid-area: roadSins-1;
  align-self: center;
}

.dav20 .sin-level-value-2 {
  grid-area: roadSins-2;
  align-self: center;
}

.dav20 .sin-level-value-3 {
  grid-area: roadSins-3;
  align-self: center;
}

.dav20 .sin-level-value-4 {
  grid-area: roadSins-4;
  align-self: center;
}

.dav20 .sin-level-value-5 {
  grid-area: roadSins-5;
  align-self: center;
}

.dav20 .sin-level-value-6 {
  grid-area: roadSins-6;
  align-self: center;
}

.dav20 .sin-level-value-7 {
  grid-area: roadSins-7;
  align-self: center;
}

.dav20 .sin-level-value-8 {
  grid-area: roadSins-8;
  align-self: center;
}

.dav20 .sin-level-value-9 {
  grid-area: roadSins-9;
  align-self: center;
}

.dav20 .sin-level-value-10 {
  grid-area: roadSins-10;
  align-self: center;
}

.dav20 .conscience-conviction {
  grid-area: conscienceConviction;
  align-self: center;
}

.dav20 .conscience-conviction-value {
  grid-area: conscienceConvictionValue;
  align-self: center;
}


.dav20 .self-control-instinct {
  grid-area: selfControlInstinct;
  align-self: center;
}

.dav20 .self-control-instinct-value {
  grid-area: selfControlInstinctValue;
  align-self: center;
}

.dav20 .actor-courage-label {
  grid-area: courageLabel;
  font-size: 15px;
  font-weight: 500;
  align-self: center;
}

.dav20 .actor-courage-value {
  grid-area: courageValue;
  align-self: center;
}

.dav20 .actor-sin-row {
  display: flex;
  flex-direction: row;
}

.dav20 .road-label {
  grid-area: roadLable;
}

.dav20 .actor-road {
  grid-area: road;
  align-items: center; 
  justify-self: center;
}

.dav20 .road-value {
  grid-area: roadValue;
  display: flex;
  align-items: center; 
  justify-self: center;
}

.dav20 .road-info {
  display: flex;
  flex-direction: row;
}

.dav20 .actor-willpower-label {
  grid-area: willPowerLabel;
  align-self: center;
  justify-self: center;
  font-size: 15px;
  font-weight: 500;
}

.dav20 .actor-willpower {
  grid-area: willPowerValue;
  align-self: center;
  justify-self: center;
}

.dav20 .actor-willpowerTemp {
  grid-area: willPowerTemp;
  align-self: center;
  justify-self: center;
}

.dav20 .actor-bloodpool-label {
  grid-area: bloodPoolLabel;
  font-size: 15px;
  font-weight: 500;
  align-self: center;
justify-self: center;
}

.dav20 .blood-pool {
  grid-area: bloodPool;
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
  align-self: center;
  justify-self: center;
}

.dav20 .actor-virtues-label {
  grid-area: virtuesLabel;
}

.dav20 .actor-health-label {
  grid-area: healthLabel;
  align-self: center;
  font-size: 15px;
  font-weight: 500;
  margin-right: 25%;
justify-self: center;
}

.dav20 .actor-health {
  grid-area: health;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.dav20 .health-row {
  display: flex;
  align-items: center;
}

.dav20 .health-row-label {
  min-width: 150px;
} 


.dav20 .health-penalty-label {
  min-width: 80px;
}

.dav20 .resource-health-step {
  max-width: 14px;
}

/**
Character Disciplines
**/

/* .dav20 .disciplines-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
*/

.dav20 .discipline-header {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
} 

.discipline-title {
  font-size: 15px;
}

.dav20 .power-row {
  display: grid;
  justify-content: center;
  column-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(30px, auto);
}

/* 
.dav20 .resource-health {
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.dav20 .rosource-health-row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.dav20 .health-row-label {
  flex: 33%;
  flex-grow: 1;
} */

/*
Discipline item sheet css

*/

.dav20 .item-discipline-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(30px, auto);
  justify-items: center;
  font-size: 15px;
  font-weight: 500;

}

.actor-sire {
  height: 100%;
  width: 100%;
  max-height: 300px;
}

.dav20 .richtext-editor {
  height: 100%;
  width: 100%;
  border: 1px solid #7a7971;
  max-height: 300px;
}

.dav20 .richtext-editor .editor {
  height: 100%;
  width: 100%;
}


.item-sheet {
  height: 100%;
}
