<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />

        <section class="actor-profile">

            <div class="summary-info actor-name">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DAV20.Name' }}" />
            </div>

            <div class="summary-info actor-nature">
                <input name="nature" type="text" value="{{actor.nature}}" placeholder="{{ localize 'DAV20.Nature' }}" />
            </div>

            <div class="summary-info actor-clan">
                <input name="clan" type="text" value="{{actor.clan}}" placeholder="{{ localize 'DAV20.Clan' }}" />
            </div>

            <div class="summary-info actor-demeanor">
                <input name="demeanor" type="text" value="{{actor.demeanor}}"
                    placeholder="{{ localize 'DAV20.Demeanor' }}" />
            </div>

            <div class="summary-info actor-generation">
                <input name="generation" type="text" value="{{actor.generation}}"
                    placeholder="{{ localize 'DAV20.Generation' }}" />
            </div>

            <div class="summary-info actor-chronicle">
                <input name="chronicle" type="text" value="{{actor.chronicle}}"
                    placeholder="{{ localize 'DAV20.Chronicle' }}" />
            </div>

            <div class="summary-info actor-concept">
                <input name="concept" type="text" value="{{actor.concept}}"
                    placeholder="{{ localize 'DAV20.Concept' }}" />
            </div>

            <div class="summary-info actor-sire">
                <input name="data.sire.name" type="text" value="{{data.sire.name}}" placeholder="{{ localize 'DAV20.Sire' }}" />
            </div>

        </section>

    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        
        <a class="item active" data-tab="abilities">{{ localize "DAV20.Abilities" }}</a>
        <a class="item" data-tab="background">{{ localize "DAV20.Backgrounds" }}</a>
        <a class="item" data-tab="disciplines">{{ localize "DAV20.Disciplines" }}</a>
        <a class="item" data-tab="combat">{{ localize "DAV20.Combat" }}</a>
    </nav>

    {{!-- Character Sheet Body --}}

    <section class="sheet-body">

        <div class="tab abilities" data-group="primary" data-tab="abilities">
            {{> "systems/dav20/templates/actors/parts/actor-abilities.html" sections=abilities}}
        </div>

    
        <div class="tab disciplines" data-group="primary" data-tab="disciplines">
            {{> "systems/dav20/templates/actors/parts/actor-disciplines.html" sections=disciplines}}
        </div>

        <div class="tab combat" data-group="primary" data-tab="combat">
            {{> "systems/dav20/templates/actors/parts/actor-combat.html" sections=combat}}
        </div>


        <div class="tab background" data-group="primary" data-tab="background">
            {{> "systems/dav20/templates/actors/parts/actor-background.html" sections=background}}
        </div>
        
    </section>


</form>