<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        
        <section class="actor-profile">

            <div class="summary-info actor-name">
                <input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'DAV20.Name' }}"/>
            </div>

            <div class="summary-info actor-nature">
                <input name="nature" type="text" value="{{actor.nature}}" placeholder="{{ localize 'DAV20.Nature' }}"/>
            </div>

            <div class="summary-info actor-clan">
                <input name="clan" type="text" value="{{actor.clan}}" placeholder="{{ localize 'DAV20.Clan' }}"/>
            </div>

            <div class="summary-info actor-demeanor">
                <input name="demeanor" type="text" value="{{actor.demeanor}}" placeholder="{{ localize 'DAV20.Demeanor' }}"/>
            </div>

            <div class="summary-info actor-generation">
                <input name="generation" type="text" value="{{actor.generation}}" placeholder="{{ localize 'DAV20.Generation' }}"/>
            </div>

            <div class="summary-info actor-chronicle">
                <input name="chronicle" type="text" value="{{actor.chronicle}}" placeholder="{{ localize 'DAV20.Chronicle' }}"/>
            </div>

            <div class="summary-info actor-concept">
                <input name="concept" type="text" value="{{actor.concept}}" placeholder="{{ localize 'DAV20.Concept' }}"/>
            </div>

            <div class="summary-info actor-sire">
                <input name="sire" type="text" value="{{actor.sire}}" placeholder="{{ localize 'DAV20.Sire' }}"/>
            </div>

        </section>
        
    </header>

    {{!-- Character Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="abilities">{{ localize "DAV20.Abilities" }}</a>
        <a class="item" data-tab="disciplines">{{ localize "DAV20.Disciplines" }}</a>
        <a class="item" data-tab="rituals">{{ localize "DAV20.Rituals" }}</a>
    </nav>

    <div class="label-attributes">
        <h1 class="DAV20.Abilities">{{ localize "DAV20.Attributes" }}</h1>
    </div>

    <section class="attributes-header">

        <div class="physical-attribute">
            
            <label class="attribute-title"> {{ localize "DAV20.Physical" }} </label>

            <div class="actor-physical-attributes">
                {{#each data.physical as |attribute key|}}
                <div class="actor-attribute-row">
    
                    <div class="attribute-name-label">
                        <label for="data.physical.{{key}}.value" class="resource-label vrollable"
                            data-roll="{{attribute.value}}" data-label="{{localize attribute.name}}">{{localize attribute.name}}
                        </label>
                    </div>
                    
                    <div class="attribute-value-label">
                        <label for="data.physical.{{key}}.value" class="resource-row-label"
                            data-roll="{{attribute.value}}" data-label="{{localize attribute.name}}">{{attribute.value}}
                        </label>
                    </div>
                    
                    <div class="resource-value" data-value="{{attribute.value}}" data-name="data.physical.{{key}}.value">
                        <div class="skill-circles">
                            {{#numLoop 10}}
                                <span class="resource-value-step" data-index="{{this}}"></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>
    
                
                {{/each}}
            </div>

        </div>

        <div class="social-attribute">

            <label class="attribute-title"> {{ localize "DAV20.Social" }} </label>

            <div class="actor-social-attributes">
                {{#each data.social as |attribute key|}}
                <div class="actor-attribute-row">
    
                    <div class="attribute-name-label">
                        <label for="data.social.{{key}}.value" class="resource-label vrollable"
                            data-roll="{{attribute.value}}" data-label="{{localize attribute.name}}">{{localize attribute.name}}
                        </label>
                    </div>
                    
                    <div class="attribute-value-label">
                        <label for="data.social.{{key}}.value" class="resource-row-label"
                            data-roll="{{attribute.value}}" data-label="{{localize attribute.name}}">{{attribute.value}}
                        </label>
                    </div>
                    
                    <div class="resource-value" data-value="{{attribute.value}}" data-name="data.social.{{key}}.value">
                        <div class="skill-circles">
                            {{#numLoop 10}}
                                <span class="resource-value-step" data-index="{{this}}"></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>
    
                
                {{/each}}
            </div>
        </div>

        <div class="mental-attribute">

            <label class="attribute-title"> {{ localize "DAV20.Mental" }} </label>

            <div class="actor-mental-attributes">
                {{#each data.mental as |attribute key|}}
                <div class="actor-attribute-row">
    
                    <div class="attribute-name-label">
                        <label for="data.mental.{{key}}.value" class="resource-label vrollable"
                            data-roll="{{attribute.value}}" data-label="{{localize attribute.name}}">{{localize attribute.name}}
                        </label>
                    </div>
                    
                    <div class="attribute-value-label">
                        <label for="data.mental.{{key}}.value" class="resource-row-label"
                            data-roll="{{attribute.value}}" data-label="{{localize attribute.name}}">{{attribute.value}}
                        </label>
                    </div>
                    
                    <div class="resource-value" data-value="{{attribute.value}}" data-name="data.mental.{{key}}.value">
                        <div class="skill-circles">
                            {{#numLoop 10}}
                                <span class="resource-value-step" data-index="{{this}}"></span>
                            {{/numLoop}}
                        </div>
                    </div>
                </div>
    
                {{/each}}
            </div>

        </div>

    </section>
    
    <div class="label-abilitie">
        <label class="DAV20.Abilities">{{ localize "DAV20.Abilities" }}</label>
    </div>
    

    <section class="actor-abilities-header">
        <div class="abilitie-header">
            <label class="abilities-label"> {{ localize "DAV20.Talents" }} </label>
        </div>

        <div class="abilitie-header abilities-label">
            <label class="abilities-label">{{ localize "DAV20.Skills" }}</label>
        </div>

        <div class="abilitie-header abilities-label">
            <label class="abilities-label"> {{ localize "DAV20.Knowledges" }}</label>
        </div>
    </section>
    
    <section class="actor-abilities">
        
        <div class="actor-talents">
            {{#each data.talents as |talent key|}}
            <div class="actor-abilitie-row">

                <div class="abilitie-name-label">
                    <label for="data.talents.{{key}}.value" class="resource-label vrollable"
                        data-roll="{{talent.value}}" data-label="{{localize talent.name}}">{{localize talent.name}}
                    </label>
                </div>
                
                <div class="abilitie-value-label">
                    <label for="data.talents.{{key}}.value" class="resource-row-label"
                        data-roll="{{talent.value}}" data-label="{{localize talent.name}}">{{talent.value}}
                    </label>
                </div>
                
                <div class="resource-value" data-value="{{talent.value}}" data-name="data.talents.{{key}}.value">
                    <div class="skill-circles">
                        {{#numLoop 10}}
                            <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>
            </div>

            
            {{/each}}
        </div>

        <div class="actor-skills">
            {{#each data.skills as |skill key|}}
            <div class="actor-abilitie-row">

                <div class="abilitie-name-label">
                    <label for="data.skill.{{key}}.value" class="resource-label vrollable"
                        data-roll="{{skill.value}}" data-label="{{localize skill.name}}">{{localize skill.name}}
                    </label>
                </div>
                
                <div class="abilitie-value-label">
                    <label for="data.skill.{{key}}.value" class="resource-row-label"
                        data-roll="{{skill.value}}" data-label="{{localize skill.name}}">{{skill.value}}
                    </label>
                </div>
                
                <div class="resource-value" data-value="{{skill.value}}" data-name="data.skills.{{key}}.value">
                    <div class="skill-circles">
                        {{#numLoop 10}}
                            <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>
            </div>

            
            {{/each}}
        </div>
        
        <div class="actor-knowledges">
            {{#each data.knowledges as |knowledge key|}}
            <div class="actor-abilitie-row">

                <div class="abilitie-name-label">
                    <label for="data.knowledge.{{key}}.value" class="resource-label vrollable"
                        data-roll="{{knowledge.value}}" data-label="{{localize knowledge.name}}">{{localize knowledge.name}}
                    </label>
                </div>
                
                <div class="abilitie-value-label">
                    <label for="data.knowledge.{{key}}.value" class="resource-row-label"
                        data-roll="{{knowledge.value}}" data-label="{{localize knowledge.name}}">{{knowledge.value}}
                    </label>
                </div>
                
                <div class="resource-value" data-value="{{knowledge.value}}" data-name="data.knowledges.{{key}}.value">
                    <div class="knowledge-circles">
                        {{#numLoop 10}}
                            <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>
            </div>
            
            {{/each}}
        </div>

    </section>

    <section class="core-footer">

        <div class="road-sins-label">
            <label class="actor-road-label"> {{ localize "DAV20.RoadSins" }} </label>
        </div>

        <div class="road-sins">
            <div class="actor-sins">
                {{#each data.sins as |sin key|}}
                <div class="actor-sin-row">
    
                    <div class="sin-name-level">
                        <label for="sin.{{key}}" class="resource-row-label"
                            data-roll="sin.{{key}}" data-label="{{localize sin.name}}">{{localize sin.name}}
                        </label>
                    </div>
                    
                    <input class="sin-level-value" name="data.sins.{{key}}.value" type="text" value="{{sin.value}}" placeholder=""/>

                </div>
                
                {{/each}}
            </div>
        </div>

        <div class="road-label">
            <label class="actor-road-label"> {{ localize "DAV20.Road" }} </label>
        </div>

        <div class="actor-road">

            <div class="road-info actor-road">
                <input name="data.road.name" type="text" value="{{ data.road.name }}" placeholder=""/>
            </div>


            <div class="resource-value" data-value="{{data.road.value}}" data-name="data.road.value">
                <div class="road-circles">
                    {{#numLoop 10}}
                        <span class="resource-value-step" data-index="{{this}}"></span>
                    {{/numLoop}}
                </div>
            </div>
        </div>


        <div class="actor-willpower-label">
            <label class="willpower-label"> {{ localize "DAV20.Willpower" }} </label>
        </div>

        <div class="actor-willpower">
            <div class="resource-value" data-value="{{data.willpower.value}}" id="data.willpower.value">
                <div class="willpower-circles">
                    {{#numLoop 10}}
                        <span class="resource-value-step" data-index="{{this}}" data-level="{{data.willpower.value}}"></span>
                    {{/numLoop}}
                </div>
            </div>

            <div class="resource-content">
                <div class="resource-counter" data-value="{{data.willpower.tempValue}}" id="data.willpower.tempValue">
                    {{#numLoop 10}}
                    <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
                    {{/numLoop}}
                </div>
            </div>

        </div>

        <div class="actor-bloodpool-label">
            <label class="bloodpool-label"> {{ localize "DAV20.BloodPool" }} </label>
        </div>

        <div class="blood-pool">
            <div class="resource-content">
                <div class="resource-counter" data-value="{{data.bloodPool.value}}" id="data.bloodPool.value">
                    {{#numLoop 60}}
                    <span class="resource-counter-step" data-index="{{this}}" data-state=""></span>
                    {{/numLoop}}
                </div>
            </div>
        </div>

        <div class="actor-virtues-label">
            <label class="virtues-label">{{ localize "DAV20.Virtues" }}</label>
        </div>

        <div class="actor-virtues">
            

            <div class="conscience-conviction" data-value="{{data.virtues.conscienteConviction.value}}" id="data.conscienteConviction.value">

                <select name="data.virtues.conscienteConviction.option">
                    {{#select data.virtues.conscienteConviction.option}}
                        <option value=""></option>
                        {{#each config.ConscienceConviction as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>

                <div class="resource-value" data-value="{{data.virtues.conscienteConviction.value}}" data-name="data.virtues.conscienteConviction.value">
                    <div class="conscienteConviction-circles">
                        {{#numLoop 10}}
                            <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>

            </div>

            <div class="selfcontrol-instinct" data-value="{{data.virtues.selfControlInstinct.value}}" id="data.selfControlInstinct.value">

                <select name="data.virtues.selfControlInstinct.option">
                    {{#select data.virtues.selfControlInstinct.option}}
                        <option value=""></option>
                        {{#each config.SelfControlInstinct as |name type|}}
                            <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                    {{/select}}
                </select>

                <div class="resource-value" data-value="{{data.virtues.selfControlInstinct.value}}" data-name="data.virtues.selfControlInstinct.value">
                    <div class="selfControlInstinct-circles">
                        {{#numLoop 10}}
                            <span class="resource-value-step" data-index="{{this}}"></span>
                        {{/numLoop}}
                    </div>
                </div>



            </div>

        </div>


        <div class="actor-health-label">
            <label class="health-label"> {{ localize "DAV20.Health" }} </label>
        </div>

        <div class="actor-health">
            <div class="resource-health">
                
                    {{#each data.healthLevels as |health key|}}

                        <div class="rosource-health-row">

                            <label for="data.healthLevels.{{key}}.injuryTypes" class="health-row-label"
                            data-label="{{localize health.name}}">{{localize health.name}} </label>
                            
                            <label for="data.healthLevels.{{key}}.penalty" class="health-row-label"
                            data-label="{{health.penalty}}">{{health.penalty}} </label>

                            <span class="resource-health-step" data-level="{{health.level}}" data-state="{{health.injuryTypes}}" id="data.healthLevels.{{key}}.injuryTypes"></span>

                     </div>


                    {{/each}}
            </div>
        </div>

    </section>
</form>

