<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header flexrow">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <section class="weapon-sheet-body">

        {{!-- Attributes Tab --}}
        <div class="weapon-details">

            <div class="form-group">
                <label>{{ localize "Weapon.MinStr" }}</label>
                <input type="text" name="data.weapon.minStr" value="{{data.weapon.minStr}}"  placeholder="{{ localize 'Weapon.MinStr' }}"/>
            </div>

            <div class="form-group">
                <label>{{ localize "Weapon.DamageType" }}</label>
                <select name="data.weapon.damageType">
                    {{#select data.weapon.damageType}}
                    <option value=""></option>
                    {{#each config.damageTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "Weapon.Concealment" }}</label>
                <select name="data.weapon.concealment">
                    {{#select data.weapon.concealment}}
                    <option value=""></option>
                    {{#each config.concealmentTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>

            <div class="form-group">
                <label>{{ localize "Weapon.Damage" }}</label>
                <input type="text" name="data.weapon.damage" value="{{data.weapon.damage}}"  placeholder="{{ localize 'Weapon.Damage' }}"/>
            </div>

            <div class="form-group">
                <label>{{ localize "Weapon.Range" }}</label>
                <input type="text" name="data.weapon.range" value="{{data.weapon.range}}"  placeholder="{{ localize 'Weapon.Range' }}"/>
            </div>

            <div class="form-group selector">
                <label>{{ localize "DAV20.Dice1" }}</label>
                <select name="data.weapon.dice1">
                    {{#select data.weapon.dice1}}
                        <option value=""></option>
                    {{#each config.Attributes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
        
            <div class="form-group selector">
                <label>{{ localize "DAV20.Dice2" }}</label>
                <select name="data.weapon.dice2">
                    {{#select data.weapon.dice2}}
                    <option value=""></option>
                    {{#each config.abilitiesAvailable as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                    {{/select}}
    
                </select>
                
            </div>

        </div>
    </section>
</form>
