<section class="tab actor-background-tab">
    
    <section class="actor-background">
        <h3 class="background-title">{{localize "DAV20.Backgrounds"}}</h3>

        <div class="actor-backgrounds">

            {{#each data.backgrounds as |background key|}}
        
            <label class="common-label"
                data-label="{{localize background.name}}">{{localize background.name}}
            </label>
    
            <div class="resource-value" data-value="{{background.value}}" data-name="data.backgrounds.{{key}}.value">
                {{#numLoop 5}}
                <span class="resource-value-step" data-index="{{this}}"></span>
                {{/numLoop}}
            </div>
        
        {{/each}}

        </div>    

    </section>

    <section class="actor-merits">

        <h3 class="background-title">{{localize "DAV20.Merits"}}</h3>

        <div class="merits-grid">


            {{#each merits as |item key|}}
             
            <h4>{{ item.name }}</h4>
            <h4>{{ item.data.meritsAndFlaws.type }}</h4>
            <h4>{{ item.data.meritsAndFlaws.cost }}</h4>

            <div class="item merit-row" data-item-id="{{item._id}}"> 
                <a class="item-edit" title="{{localize 'DAV20.Edit'}}">
                    <i class="fas fa-edit"></i>
                </a>
            </div>

            <div class="item merit-row" data-item-id="{{item._id}}"> 
                <a class="item-delete" title="{{localize 'DAV20.Delete'}}">
                    <i class="fas fa-trash"></i>
                </a>
            </div>


            {{/each}}

        </div>

    </section>

    <section class="actor-flaws">
        
        <h3 class="background-title">{{localize "DAV20.Flaws"}}</h3>

        <div class="flaws-grid">


            {{#each flaws as |item key|}}

            <li class="item flaw-row" data-item-id="{{item._id}}"> 

                <h4>{{ item.name }}</h4>
                <h4>{{ item.data.meritsAndFlaws.type }}</h4>
                <h4>{{ item.data.meritsAndFlaws.cost }}</h4>

                <div class="item flaw-row" data-item-id="{{item._id}}">
                    <a class="item-edit" title="{{localize 'DAV20.Edit'}}">
                        <i class="fas fa-edit"></i>
                    </a>
                </div>

                <div class="item flaw-row" data-item-id="{{item._id}}">
                    <a class="item-delete" title="{{localize 'DAV20.Delete'}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                
            </li>

            {{/each}}

        </div>

    </section>

    <section class="actor-prelude">
        <h2>{{localize 'DAV20.Prelude'}}</h3>

        <div class="richtext-editor">
            {{editor content=data.prelude target="data.prelude" button=true owner=owner editable=editable}}
        </div>

    </section>

    <section class="actor-goals">
        <h2>{{localize 'DAV20.Goals'}}</h3>

        <div class="richtext-editor">
            {{editor content=data.goals target="data.goals" button=true owner=owner editable=editable}}
        </div>

    </section>

    <section class="actor-sire">
        <h2>{{localize 'DAV20.YourMaker'}} {{data.sire.name}}</h3>

        <div class="richtext-editor">
            {{editor content=data.sire.description target="data.sire.description" button=true owner=owner editable=editable}}
        </div>

    </section>

</section>