<section class="actor-disciplines-tab">
        <ol class="disciplines-list">
        {{#each data.disciplines as |discipline|}}

            <li class="discipline-header">
                <h3 class="discipline-title">{{discipline.label}}</h3>
                <a class="item-create" title="{{localize 'DAV20.Add'}}" data-type="power" data-label="{{discipline.label}}">
                    <i class="fas fa-plus"></i> {{localize "DAV20.Add"}}
                </a>
            </li>

            <ol class="power-list" data-item-id="{{discipline._id}}">

            <div class="power-row power-header">
                <h3>{{ localize 'Name' }}</h3>
                <h3>{{ localize "DAV20.Level" }}</h3>
                <h3>{{ localize "DAV20.Dice1" }}</h3>
                <h3>{{ localize "DAV20.Dice2" }}</h3>
                <h3>{{ localize "DAV20.Bloodpoints" }}</h3>
                <h3></h3>
                <h3></h3>
            </div>
            
            {{#each discipline.powers as |item i|}}
                <li class="item power-row" data-item-id="{{item._id}}">

                    <h4 class="disciplineCheck">{{ item.name}}</h4>
                    <h4>{{ item.data.props.level}}</h4>

                    <h4>{{ item.data.props.dice1 }}</h4>
                    <h4>{{ item.data.props.dice2 }}</h4>
                    <h4>{{ item.data.props.bloodCost }}</h4>
                    <a class="item-edit" title="{{localize 'DAV20.Edit'}}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="item-delete" title="{{localize 'DAV20.Delete'}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </li>

            {{/each}}

            </ol>

        {{/each}}

        </ol>
 
</section>